<% content_for :head do %>
<style>
	.error-msg { display: none; color: #cc0000; }
	.customers-list, .notes-list { padding-left: 20px; }
</style>
<% end %>

<h1>Listing claims</h1>
<%= form_tag claims_path, :method => 'get' do %>
	<div class='error-msg'>Please enter text</div>
	<%= text_field_tag :search_claims, '', :placeholder => 'Search for location postcode' %>
	<%= submit_tag 'Search', :id => 'submit-search' %>
<% end %>
<table>
	<thead>
	  <tr>
			<th>Claim ID #
	    <th>Claim type
	    <th>Active
	    <th>Claim location postcode
	    <th>Cost
	    <th>Date of loss
			<th>Created At
	    <th>
	    <th>
	    <th>
<% @claims.each do |claim| %>
	<tbody>
	  <tr>
			<td><%= claim.id %>
	    <td><%= claim.claim_type %></td>
	    <td><%= claim.active %></td>
	    <td><%= claim.claim_location_postcode %></td>
	    <td><%= claim.cost %></td>
	    <td><%= claim.date_of_loss %></td>
			<td><%= claim.created_at %>
	    <td><%= link_to 'Show', claim %></td>
	    <td><%= link_to 'Edit', edit_claim_path(claim) %></td>
	    <td><%= link_to 'Destroy', claim, :confirm => 'Are you sure?', :method => :delete %></td>
		<% if !claim.customers.empty? %>
		<tr>
			<td colspan=8>
				<table class='customers-list'>
					<tr>
						<th>Customer Name
						<th>Postcode
						<th>Phone
						<th>Dob
				<% claim.customers.each do |customer| %>
					<tr>
						<td><%= customer.name %>
				    <td><%= customer.postcode %>
				    <td><%= customer.phone %>
				    <td><%= customer.dob %>
				<% end %>
				</table>
		<% end %>
		<% if !claim.notes.empty? %>
		<tr>
			<td colspan=8>
				<table class='notes-list'>
					<tr>
						<th>Author Name
						<th>Body Text
				<% claim.notes.each do |note| %>
					<tr>
						<td><%= note.author_name %>
				    <td><%= note.body_text %>
				<% end %>
				</table>
		<% end %>
	</tbody>
<% end %>
</table>

<br />

<% if @search_result %>
	<p><%= link_to "Clear Search Result", claims_path %></p>
<% end %>

<%= link_to 'New Claim', new_claim_path %>

<% content_for :script do %>
<script>
	$('#submit-search').click(function() {
		var searchField = $('#search_claims').val();
		if (searchField.match(/^\s*$/)) {
			$('.error-msg').fadeIn();
			return false;
		} else {
			$('.error-msg').fadeOut();
		}
	});
</script>
<% end %>