<p id="notice"><%= notice %></p>

<p>
  <b>Claim type:</b>
  <%= @claim.claim_type %>
</p>

<p>
  <b>Active:</b>
  <%= @claim.active %>
</p>

<p>
  <b>Claim location postcode:</b>
  <%= @claim.claim_location_postcode %>
</p>

<p>
  <b>Customer name:</b>
  <%= @claim.customer_name %>
</p>

<p>
  <b>Customer postcode:</b>
  <%= @claim.customer_postcode %>
</p>

<p>
  <b>Customer phone:</b>
  <%= @claim.customer_phone %>
</p>

<p>
  <b>Customer dob:</b>
  <%= @claim.customer_dob %>
</p>

<p>
  <b>Cost:</b>
  <%= @claim.cost %>
</p>

<p>
  <b>Date of loss:</b>
  <%= @claim.date_of_loss %>
</p>


<%= link_to 'Edit', edit_claim_path(@claim) %> |
<%= link_to 'Back', claims_path %>
